.gllacy-body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-3.png");
}

.site-wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: 50% 8%;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("slide-2.png");
}

.site-wrapper:after {
  background-image: url("slide-3.png");
}

.wrapper {
  max-width: 1200px;
  min-width: 900px;
  padding: 0 2.3%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.header__logo {
  margin-right: 20px;
  width: 154px;
  height: 64px;
}

.menu {
  width: 50%;
  margin-top: 13px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu__item {
  list-style: none;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  line-height: 18px;
  font-size: 16px;
}

.menu .menu__active a,
.menu .menu__active a:hover {
  background-color: #d07058;
  border-radius: 40px;
  text-decoration: none;
  color: #ffffff;
}

.menu__item:hover .menu__sub {
  display: block;
}

.menu__item a {
  color: #ffffff;
  display: block;
  padding: 9px 15px;
}

.menu__item a:hover {
  background-color: #f7f6f3;
  color: #000000;
  text-decoration: none;
  padding: 9px 15px;
  border-radius: 40px;
}

.menu .menu__sub {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  background-color: #f8f7f4;
  margin-top: 5px;
  border-radius: 5px;
  text-align: left;
}

.menu .menu__item-sub {
  white-space: nowrap;
}

.menu .menu__item-sub a{
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 20px;
}

.menu__item-sub:hover {
  background-color: #fbded7;
  border-radius: 0;
  padding: 10px 20px;
}

.menu__item-sub:hover a {
  background-color: #fbded7;
  border-radius: 0;
  padding: 0;
}

.menu__item-sub:first-child:hover {
  border-radius: 5px 5px 0 0;
}

.menu__item-sub:first-child a {
  font-weight: 700;
  position: relative;
}

/*.menu__item-sub:first-child a::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  top: 33px;
  left: 5px;
  background-color: #d1d0ce;
}*/

.menu__item-sub:last-child:hover {
  border-radius: 5px 5px 0 0;
}

.search__form,
.enter__form,
.basket__table {
  display: none;
}

.user-block {
  margin-left: auto;
  display: flex;
  width: 22.2%;
  justify-content: space-between;;
  align-items: center;
}

.search__area {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  opacity: 0.2;

  border-radius: 50%;
}

.search__area::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 17px;
  height: 17px;
  background: transparent url("../img/Лупа.svg") no-repeat;
}

.search__area:hover {
  opacity: 1;
}

.search__area:hover::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 17px;
  height: 17px;
  background: transparent url("../img/Лупачерный.svg") no-repeat;
}

.search__area:hover .search__form {
  display: block;
}

.search__link {
  position: relative;
}

.search__form {
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #f8f7f4;
}

.search__form input[type="search"] {
  width: 261px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  outline: none;
  border: 1px solid #d3d3d2;
  padding: 10px 15px;
  border-radius: 5px;
}

.enter__area {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 17px;
  padding-left: 45px;
  background-color: #a1b5aa;
  border-radius: 40px;
}

.enter__area:hover {
  background-color: #f8f7f4;
  color: #000000;
}

.enter__area::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 5px;
  width: 22px;
  height: 22px;
  background: transparent url("../img/Вход.svg") no-repeat;
}

.enter__area:hover::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 5px;
  width: 22px;
  height: 22px;
  background: transparent url("../img/Входчерный.svg") no-repeat;
}

.enter__link {
  position: relative;
}

.enter__form {
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #f8f7f4;
}

.enter__form input[type="email"],
.enter__form input[type="password"] {
  width: 211px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  outline: none;
  border: 1px solid #d3d3d2;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 21px;
}

.btn__enter {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 22px;
}

.enter__form a {
  color: #000000;
  padding: 5px;
}

.enter__form a:hover,
.enter__form a:active {
  color: #e84d37;
}

.basket__link {
  position: relative;
}

.basket__table {
  position: absolute;
  top: 40px;
  right: 2.2%;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #f8f7f4;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.basket__close {
  position: absolute;
  top: 25px;
  left: 5px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.basket__close::before,
.basket__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 12px;
  height: 1px;
  background-color: #000000;
  border-radius: 1px;
}

.basket__close::before {
  transform: rotate(45deg);
}

.basket__close::after {
  transform: rotate(-45deg);
}

.btn__basket {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 13px;
}

.basket__area {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 30px;
  padding-left: 45px;
  background-color: #a1b5aa;
  border-radius: 40px;
}

.basket__area:hover {
  background-color: #f8f7f4;
  color: #000000;
}

.basket__area::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 5px;
  width: 22px;
  height: 22px;
  background: transparent url("../img/Корзина.svg") no-repeat;
}

.basket__area:hover::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 5px;
  width: 22px;
  height: 22px;
  background: transparent url("../img/Корзинатовар.svg") no-repeat;
}

.catalog__title {
  margin-top: 25px;
}

.catalog__title h2 {
  margin: 0;
  margin-bottom: 25px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 17px;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs .current {
  text-decoration: none;
}

.filter {
  width: 71%;
  display: inline-flex;
  justify-content: space-between;
}

.filter__sort {
  width: 18%;
  margin-right: ;
  display: flex;
  flex-direction: column;
}

.filter__sort select {

}

.filter__price {
  width: 20%;
  margin-right: ;
  display: flex;
  flex-direction: column;
}

.filter b {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", "Open Sans", sans-serif;
  margin: 0;
}

.main-calatog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  width: 22.2%;
  margin-right: 2.2%;
  position: relative;
  text-align: center;
  margin-bottom: 35px;
}

.catalog__item figure {
  z-index: 20;
  margin-bottom: 0;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -13px;
  width: 293px;
  height: 409px;
  background-color: #ffffff;
  opacity: 0.2;
  border-radius: 5px;
  z-index: 10;
}

.catalog__item:hover .catalog__inside {
  display: block;
}

.catalog__item .catalog__inside {
  position: absolute;
  display: none;
  top: 341px;
  left: 35px;
  z-index: 20;
}

.btn__catalog {
  padding: 10px 18px;
}

.menu__contacts {
  width: 22.2%;
}
.menu__contacts p {
  margin: 0;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 60.35px;
  font-size: 60px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.slide-btn {
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider {
  position: relative;
  padding-top: 370px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.main-link {
  display: inline-block;
  text-decoration: none;
  padding: 12px 17px;
  color: #ffffff;
  background-color: #ee6240;
  border-radius: 40px;
  font-size: 18px;
  line-height: 24px;
}

.main-link:hover {
  background-color: #ef7762;
}

.main-link:active {
  background-color: #dc5539;
  box-shadow: inset 0 1px  2px 1px #9e4334;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog__link:hover,
.catalog__link:active {
  color: #ffbc9e;
}

.blog__link:hover,
.blog__link:active {
  color: #e84d37;
}

figure {
    margin-left: 0;
    position: relative;
}

figcaption {
  position: absolute;
  font-weight: 500;
  line-height: 45px;
  font-size: 30px;
  top: 210px;
  text-shadow: 1px 1px 2px #acb5b1;
}

figcaption span {
  line-height: 45px;
  font-size: 45px;
  font-weight: 500;
}

.stock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 22px;
}

.stock h2 {
  margin: 20px 0 0 0;
}

.stock__left {
  width: 46.7%;
  height: 230px;
  background-image: url(../img/Малиновыйфон.jpg);
  border-radius: 5%;
  padding-left: 25px;
}

.stock__right {
  width: 46.7%;
  height: 230px;
  background-image: url(../img/Шоколадныйфон.jpg);
  border-radius: 5%;
  padding-left: 25px;
}

.btn__stock {
  white-space: nowrap;
  padding: 15px 23px;
}

.catalog__hit {
  position: relative;
  text-align: center;
  width: 22.2%;
}

.catalog__img-hit {
  position: absolute;
  border-radius: 50%;
}

.catalog__link {
  color: #ffffff;
  font-weight: 500;

}

.about {
  width: 100%;
  height: 310px;
  margin-bottom: 46px;
  padding: 27px 23px;
  background-image: url(../img/Вафля.jpg);
  border-radius: 10px;
  color: #000000;
  box-sizing: border-box;
}

.about p,
.about h3 {
  margin: 0;
}

.about__item {
  width: 44%;
  min-height: 220px;
  font-weight: 400;
}

.about__cont {
  display: flex;
  justify-content: space-between;
}

.about__icon-1 {
  margin-bottom: 40px;
  height: 47px;
  width: 47px;
  background-image: url(../img/Мороженко.svg);
}

.about__icon-2 {
  margin-bottom: 45px;
  height: 47px;
  width: 47px;
  background-image: url(../img/Корова.svg);
}

.about__icon-3 {
  height: 47px;
  width: 47px;
  background-image: url(../img/Листик.svg);
}

.about__icon-4 {
  height: 47px;
  width: 47px;
  background-image: url(../img/Градусник.svg);
}

.about__text p {
  margin-top: 14px;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 46.7%;
  min-height: 220px;
  background-image: url(../img/Клубничныйфон.jpg);
  border-radius: 10px;
  color: #000000;
  padding-left: 23px;
}

.blog__link {
  color: #000000;
}

.mail  {
  width: 46.7%;
  min-height: 220px;
  border-radius: 10px;
  background-image: url(../img/Почтовыйфон.jpg);
  color: #000000;
  font-weight: 400;
  padding: 5px;
  box-sizing: border-box;
}

.mail__center {
  height: 168px;
  background: #f8f7f4 none repeat scroll 0% 0%;
  border-radius: 10px;
  padding: 21px 20px;
}

.mail__center p {
  margin: 0;
}

.mail__center input[type="email"] {
  width: 300px;
 margin: 0;
 margin-top: 35px;
 padding: 12px 15px;
 font-size: 16px;
 line-height: 24px;
 font-family: "Roboto", "Open Sans", sans-serif;
 color: #999999;
 border-radius: 5px;
 border: 1px solid #d3d3d2;
 outline: none;
}

.btn__mail {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 21px;
  margin-top: 35px;
}

.location {
  position: relative;
}

.location__contacts {
  position: absolute;
  background-color: #fefefe;
  color: #000000;
  width: 25.5%;
  border-radius: 10px;
  top: 64px;
  right: 2.3%;
  font-weight: 400;
  padding-left: 25px;
  box-sizing: border-box;

}

.location__contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.btn__feedback {
  padding: 11px 28px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.pin {
  position: absolute;
  top: 33%;
  left: 23.3%;
}

.paginator {
  display: flex;
  width: 17%;
  margin-left: auto;
  margin-top: 75px;
  justify-content: space-between;
}

.paginator a,
.paginator span {
  padding: 4px 8px;
  text-decoration: none;
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
}

.paginator a:active,
.paginator span:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator a:hover,
.paginator span:hover {
  color: #ffffff;
  background-color: #ffffff;
  opacity: 0.2;
  border-radius: 50%;
}

.paginator__prev {
  background: url(../img/prev.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  background-position: center;
}

.paginator__next {
  background: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.paginator .paginator__present {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.footer__btn {
  width: 31px;
  height: 31px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.footer__btn:hover {
  opacity: 1;
}

.footer__btn:active {
  opacity: 1;
  box-shadow: inset 0 3px 1px 0 #9b9b9b;
}

.footer__btn-tw {
  background: url("../img/Твитер.svg") no-repeat center;
  opacity: 0.8;
}

.footer__btn-inst {
  background: url("../img/Инста.svg") no-repeat center;
  opacity: 0.8;
}

.footer__btn-fb {
  background: url("../img/ФБ.svg") no-repeat center;
  opacity: 0.8;
}

.footer__btn-vk {
  background: url("../img/ВК.svg") no-repeat center;
  opacity: 0.8;
}

.footer__info li {
  list-style: none;
}

.footer__link {
  color: #ffffff;
}

.footer__social {
  width: 20%;
  margin-right: 2.2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__info {
  width: 46.6%;
  margin-right: 2.2%;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.footer__copyright {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 19px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
  word-spacing: 3px;
}

.modal-content {
  position: absolute;
  top: 338px;
  left: 33%;
  width: 480px;
  padding: 20px 25px;
  border-radius: 15px;
  color: #000000;
  z-index: 20;
  display: none;
  background: #f8f7f4;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

.modal-content .login-form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form textarea {
  width: 238px;
  margin: 0;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  outline: none;
}

.login-form textarea {
  width: 435px;
}

.login-form input:focus,
.login-form textarea:focus {
  border: 2px solid #8fbdec;
}

.login-form .btn {
  width: 140px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 22px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
