.gllacy-body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: #849d8f;
}

h1 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.wrapper {
  max-width:1200px;
  min-width:900px;
  padding:0 2.3%;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

figure {
    margin-left: 0;
}

.stock {
  display: flex;
  justify-content: space-between;
}

.stock__left,
.stock__right,
.blog,
.mail  {
  width: 46.7%;
}

.slider__slides {
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

.about {
  margin-bottom: 46px;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-calatog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  width: 22.2%;
  margin-right: 2.2%;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.paginator {
  display: flex;
  width: 15%;
  margin-left: auto;
}

.footer__social {
  width: 22.2%;
  margin-right: 2.2%;
}

.footer__info {
  width: 46.6%;
  margin-right: 2.2%;
}

.footer__copyright {
  width: 22.2%;
}
